<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Unreal Engine EditAnywhere metadata</Title>
			<Author>SocialHermit</Author>
			<Shortcut>ueditanywhere</Shortcut>
			<Description>Quickly adds the EditAnywhere Metadata tag</Description>
		</Header>
		<Snippet>
			<Code Language="CPP">
				<![CDATA[EditAnywhere$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>